input {
    width: 500px;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f2f2f2;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

    body {
      background-color: #171717;
      color: #FFFF;
    }



.btn {

font-family: Arial;
font-weight: 0;
font-size: 20px;
color: #fff;
background: linear-gradient(90deg, #2a9d8f 0%, #61decd 100%);
padding: 20px 30px;
border: solid #76e084 2px;
box-shadow: none;
border-radius: 20px 2px 25px 0px;
transition : 1384ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
width: 530px;

}

.btn:hover {

transition : 1384ms;
transform : translateY(-0px);
background: linear-gradient(90deg, #2a9d8f 0%, #61decd 100%);
color: #000000;
border: solid 2px #2a9d8f;
width: 500px;
}


.frame {

font-family: Arial;
font-weight: 0;
font-size: 20px;
color: #fff;
background: #264653
padding: 20px 30px;
border: solid #76e084 2px;
box-shadow: none;
transition : 1384ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
width: 200px;
margin: 10px;
}

.frame:hover {

transition : 1384ms;
transform : translateY(-0px);
background: linear-gradient(90deg, #264653 0%, #f200ff 100%);
color: #000000;
border: solid 2px #2a9d8f;
width: 200px;
}

        #scrolling-frame {
        width: 200px;
        height: 300px;
        overflow: auto;
        border: 1px solid #ccc;
    }
